@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.sidebar {
    user-select: none;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    min-width: 180px;
    width: 200px;
    position: fixed;
    top: 70px;
    left: 0;
    height: 100vh;
    box-sizing: border-box;
    z-index: 100;
    transition: transform 0.3s ease, width 0.3s ease;
    transform: translateX(0);
    overflow-x: hidden;
}

.sidebar.unpinned {
    transform: translateX(-120px);
    width: 60px;
}

.sidebar .background_part {
    position: absolute;
    top: 0px;
    left: 0px;
    margin-top: 14px;
    margin-left: 2px;
    height: 60px;
    min-width: 195px;
    background-color: #0000006d;
    border-radius: 8px;
    transition: top 0.3s ease;
    z-index: 0;
}

.sidebar .unpinned_background_part {
    position: absolute;
    top: 60px;
    right: 10px;
    margin-top: 10px;
    margin-left: 2px;
    height: 60px;
    min-width: 40px;
    background-color: #0000006d;
    border-radius: 8px;
    transition: top 0.3s ease;
    z-index: 0;
}

.sidebar.unpinned .background_part {
    display: none;
}

.sidebar button {
    padding: 20px;
    border: none;
    height: 60px;
    min-width: 180px;
    cursor: pointer;
    background-color: transparent;
    z-index: 1;
    text-align: left;
    font-weight: bold;
    color: white;
    font-size: 1.1rem;
    font-family: "Poppins", sans-serif;
}

.sidebar.unpinned button {
    display: none;
}

.sidebar button.first_button {
    margin-top: 11px;
}

/* Pin toggle button */
.pin-toggle {
    padding: 15px 0px 0px 5px;
    width: 90%;
    height: 50px;
    object-fit: cover;
    cursor: pointer;
}

.pin-toggle img {
    height: 100%;
    width: 100%;
}

img.cropped_image {
    height: 36px;
    width: 48px;
    position: absolute;
    top: 10px;
    right: 10px;
}

.unpinned_first,
.unpinned_second,
.unpinned_third,
.unpinned_fourth,
.unpinned_fifth {
    position: absolute;
    font-size: 22px;
    font-weight: 600;
    right: 10px;
    padding: 5px 10px 10px 12px;
    height: 22px;
    width: 22px;
    text-align: center;
    align-self: center;
    border-radius: 50%;
    cursor: pointer;
    color: white;
}

.selected {
    color: white;
    font-weight: bold;
}

.sidebar-item.selected {
    color: white;
    font-weight: bold;
}

.unpinned_first {
    top: 90px;
}

.unpinned_second {
    top: 150px;
}

.unpinned_third {
    top: 210px;
}

.unpinned_fourth {
    top: 270px;
}

.unpinned_fifth {
    top: 330px;
}

@media screen and (max-width:800px) {

    .sidebar {
        min-width: 160px;
        width: 170px;
    }

    .sidebar .background_part {
        margin-top: 14px;
        margin-left: 2px;
        height: 50px;
        min-width: 160px;
    }

    .sidebar.unpinned {
        transform: translateX(-100px);
        width: 60px;
    }

    .sidebar button {
        font-size: 1rem;
    }
}